# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
slackme/bin/Debug/RestSharp.dll
slackme/bin/Debug/RestSharp.xml
slackme/bin/Debug/ServiceStack.Text.dll
slackme/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
slackme/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
slackme/obj/Release/slackme.pdb
slackme/obj/Release/slackme.exe
slackme/obj/Release/slackme.csproj.FileListAbsolute.txt
slackme/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
slackme/bin/Debug/ServiceStack.Text.xml
slackme/bin/Debug/Slack.Webhooks.dll
slackme/bin/Debug/slackme.exe
slackme/bin/Debug/slackme.exe.config
slackme/bin/Debug/slackme.pdb
slackme/bin/Debug/slackme.vshost.exe
slackme/bin/Debug/slackme.vshost.exe.config
slackme/bin/Release/RestSharp.dll
slackme/bin/Release/RestSharp.xml
slackme/bin/Release/ServiceStack.Text.dll
slackme/bin/Release/ServiceStack.Text.xml
slackme/bin/Release/Slack.Webhooks.dll
slackme/bin/Release/slackme.exe
slackme/bin/Release/slackme.exe.config
slackme/bin/Release/slackme.pdb
slackme/bin/Release/slackme.vshost.exe
slackme/bin/Release/slackme.vshost.exe.config
slackme/bin/Release/slackme.vshost.exe.manifest
slackme/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
slackme/obj/Debug/slackme.csproj.FileListAbsolute.txt
slackme/obj/Debug/slackme.csprojResolveAssemblyReference.cache
slackme/obj/Debug/slackme.exe
slackme/obj/Debug/slackme.pdb
slackme/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
slackme/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
slackme/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
slackme/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
